h1 {
  text-align: center;
  margin: 20px auto 0;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}
ul {
  list-style: none;
}
#city-name {
  font-size: 24px;
  font-weight: bold;
}

#actualDegree {
  font-size: 24px;
  font-weight: bold;
}
#description {
  text-transform: capitalize;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 20px;
}
#humidity,
#wind {
  font-size: 16px;
}
#github-link {
  display: block;
  text-align: center;
  color: black;
}
#current-date {
  font-size: 12px;
}
#hint {
  margin-top: 50px;
  font-size: 22px;
  font-style: italic;
}
#icon {
  width: 80;
}
.forecast-icon {
  display: block;
  margin: 0 auto;
}
.weather-forecast-date {
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
}
.weather-forecast-temperature-max {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  font-size: 14px;
  opacity: 0.7;
}
.temperature-conversion a {
  color: black;
  text-decoration: none;
}

.temperature-conversion a:hover {
  cursor: default;
}
.weather-app {
  margin: 30px auto;
  padding: 20px;
  max-width: 80%;
  border: 1px solid rgb(82, 4, 74);
  border-radius: 10px;
  max-width: 80%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}
